@(books: collection.mutable.HashSet[Book])
@layout("All Books") {
    <h1>All the books are listed here</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @for(book <- books) {
                <tr>
                    <td><a href="@routes.BooksController.show(book.id.get)">@book.title</a></td>
                    <td>@book.price</td>
                    <td>@book.author</td>
                </tr>
            }
        </tbody>
    </table>
}